.expense-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin-left: 50px;
    width: 1100px;
    background-color: #e6c7f0;
    margin-top: 20px;
}

.date{
    color:rgb(2, 2, 2);
    font-size: 20px;
    display: flex;
    width: 110px;
    justify-content: space-between;
}

.expense-item__description{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-end;
    flex-flow: column-reverse;
    justify-content: flex-start;
    flex: 1;
}

.expense-item h2{
    color:rgb(37, 40, 43);
    font-size: 25px;
    font-family: sans-serif;
    margin-right: 800px;
    margin-top: -20px;

    
    
}

.expense-item__price{
    font-size: 1rem;
    font-weight: bold;
    color:blueviolet;
    background-color: antiquewhite;
    border: 1px solid rgb(36, 35, 35);
    padding: 0.5rem;
    border-radius: 12px;
    margin-right: 40px;
}